@import "tailwindcss";
@theme {
  --color-background: #0b1220;
  --color-page: #0f1a2e;
  --color-page2: #122140;
  --color-verb: #eaf0ff;
  --color-sky: #a9b4d0;
  --color-line: rgba(234, 240, 225, 0.1);

  --color-primary: #6d5ef6;
  --color-primary-2: #9b8cff;
  --color-success: #2ee59d;
  --color-warning: #ffcc66;

  --color-shad: 0 18px 60px rgba(0, 0, 0, 0.45);
  --color-shad-2: 0 10px 30px rgba(0, 0, 0, 0.25);
}
